{% extends 'base.html' %}
{% block title %}Mes annonces{% endblock %}

{% block content %}
<div class="container my-4">
    <h2 class="mb-4">Mes annonces</h2>

    {% if biens %}
    <div class="row g-4">
        {% for bien in biens %}
        <div class="col-md-4">
            <div class="card h-100">
                <img src="{{ bien.image_principale.url }}" class="card-img-top" alt="{{ bien.titre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ bien.titre }}</h5>
                    <p><strong>Prix :</strong> {{ bien.prix }} FCFA</p>
                    <p><strong>Description :</strong> {{ bien.description|truncatechars:80 }}</p>
                    <p><strong>Statut :</strong> {{ bien.get_statut_display }}</p>

                    <a href="{% url 'modifier_bien' bien.id %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i> Modifier
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="text-muted">Aucune annonce trouvée.</p>
    {% endif %}
</div>
{% endblock %}
